<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mainiway.eworkpal">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".AppAplication"
        android:theme="@style/AppTheme">


        <activity android:name=".activity.test.TestActivity"
            android:label="网络请求测试"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.test.MainTestActivity"
            android:label="测试主页"/>

        <activity android:name=".activity.test.AnimationUseActivity"
            android:label="动画测试"/>

        <activity android:name=".activity.test.PullToRefreshUseActivity"
            android:label="pulltorefresh测试"/>



        <activity android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 崩溃处理 -->
        <activity
            android:name=".activity.ErrorActivity"
            android:process=":error_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 服务器地址 -->
        <meta-data
            android:name="app.server"
            android:value="http://10.99.2.70:9093/public"/>

        <!-- 适配尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <activity android:name=".activity.user.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="用户登录"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.user.MainActivity"
            android:label="主页"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.user.CommonPhoneCodeActivity"
            android:label="用户注册"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.user.ForgetPwdActivity"
            android:label="找回密码"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.user.CreateEnterpriseActivity"
            android:label="创建企业"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.user.JoinEnterpriseActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="申请加入企业"
            android:screenOrientation="portrait"/>

       <activity android:name=".activity.user.EnterpriseListActivity"
            android:label="企业列表选择界面"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.attendance.RightPositionActivity"
            android:label="联系人界面"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.user.NoJoinEnterpriseActivity"
            android:label="未加入任何企业"
            android:screenOrientation="portrait"/>

    </application>

</manifest>